* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: lightgray;
  margin: auto;
}

.container {
  width: 96%;
  background-color: white;
  margin: auto;
  padding-bottom: 2rem;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: 16rem
}

/***************** NAV *****************/

nav {
  color: white;
  background-color: #4B7FC9;
  margin-bottom: 1rem;
  height: 3.3rem;
  padding-top: 1rem;
  border-bottom: 2rem;
  margin: auto;
}

div.nav {
  float: left;
  width: 90%;
}

div.nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  float: left;
}

nav a:hover {
  text-decoration: underline;
}

.cart-info {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

div.cart {
  float: right;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-right: 1.7rem;
}

/**************** HEADER *****************/

header {
  margin: auto;
}

header img {
  max-height: 9rem;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: #4B7FC9;
  font-size: 2.5rem;
  padding-top: 3.2rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

/**************** ASIDE ****************/

form {
  clear: both;
  float: left;
  padding-left: 1rem;
  font-weight: bold;
  max-width: 12rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

input {
  margin-top: 0.5rem;
}

input[type="email"] {
  padding: .25rem;
  width: 100%;
}

/* email Submit button: */
input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
  width: 100%;
}

/* Sort button: */
input[type="button"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
  width: 100%;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}

select {
  margin-top: 0.5rem;
  height: 1.5rem;
  width: 100%;
  border-color: #4B7FC9;
  color: #4B7FC9;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

/* eg Scarves */
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

/* a particular product */
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
  padding-bottom: 1rem;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-container div {
  max-width: 18rem;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-spacing: 1rem;
  margin-top: 2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding: 1rem;
}

.item-container div img {
  padding-bottom: 1rem;
}



/* ================================================== */
/* ==================== NARROW ====================== */
/* ================================================== */
@media screen and (max-width: 1080px)
              and (orientation: portrait) {
  
  /* ======== TOP MATTER (NARROW) ======== */
  .container {
/*    clear: both;*/
    width: 100%;
    margin: 0;
    padding: 0;
/*    justify-content: center;*/
  }

  main {
/*
    display: flex;
    justify-content: center;
*/
    margin: 0 auto;
    padding: 0;
  }

  aside {
    clear: both;
    display: flex;
    justify-content: center;
  }

  form {
    padding-left: 0;
    justify-content: center;
    max-width: 100%;
  }

  body {
    font-size: 1.2rem;
  }

  header img {
    max-height: 6.4rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 2.0rem;
    padding-left: 6.5rem;
    padding-top: 2.1rem;
  }
  
  h1 .logo-w {
    font-size: 3.0rem;
  }

  /* ======== NAV (NARROW) ======== */
  nav {
    padding-top: 0rem;
    padding-bottom: 10.5rem;
  }

  div.nav {
/*    clear: both;*/
    width: 100%;
  }

  div.nav ul {
    display: block;
  }

  div.cart {
    padding-top: 0.7rem;
    padding-right: 0rem;
    width: 100%;
  }

  div.nav ul li {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
  }

  nav a {
    font-size: 1.5rem;
  }
  
  /* ======== MAJOR SECTIONS (NARROW) ======== */
  main > section {
/*    clear: both;*/
  }

  input[type="email"] {
    height: 2.0rem;
  }

  /* email Submit button: */
  input[type="submit"] {
    height: 2.0rem;
  }

  /* Sort button: */
  input[type="button"] {
    height: 2.0rem;
  }
                
  select {
    height: 2.0rem;
  }
}
