/*
See README.md for assignments overview.

Assignment 3: define css to make the site look like: 
mock-320px.png   STATUS: media query to format the nav bar not done, for Assignment 3, b/c not covered yet.
mock-1100px.png  STATUS: done, for Assignment 3, except: 
  o  Shopping cart needs to be right-justified.
  o  Form column needs to be wider if want to match mockup.

Style the following elements as flexbox containers (waived for Assignment 3 b/c not covered yet):
nav ul           STATUS: done, for Assignment 3.
.item-container  STATUS: done, for Assignment 3.

Implement a responsive grid system of your own design, or use a library, or don't use a grid at all.
                 STATUS: no grid used, for Assignment 3.  gridtest.html contains a grid to possibly use, laid out like this app.

Be sure all important size values are proportional - use rem or % not px.


Assignment 6: included css rules for email field and its submit button.


Assignment 7: 
Define media queries to change layouts/style based on device size.
Define a media query to format the nav bar.
There shoud be at least one obvious layout change.
Elements should fluidly change width.
*/

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    background-color: lightgray;
  margin: auto;
}

.container {
  width: 96%;
  background-color: white;
  margin: auto;
  padding-bottom: 2rem;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  height: 16rem
}

/***************** NAV *****************/

nav {
  color: white;
  background-color: #4B7FC9;
  margin-bottom: 1rem;
  height: 3.3rem;
  padding-top: 1rem;
  border-bottom: 2rem;
  margin: auto;
}

div.nav {
  float: left;
  width: 90%;
}

div.nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  font-size: 1.2rem;
  font-family: 'Didact%22Gothic', sans-serif;
  font-weight: bold;
  text-decoration: none;
  float: left;
}

nav a:hover {
  text-decoration: underline;
}

.cart-info {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

div.cart {
  float: right;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-right: 1.7rem;
}

/**************** HEADER *****************/

header {
  margin: auto;
}

header img {
  max-height: 9rem;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: #4B7FC9;
  font-size: 2.5rem;
  padding-top: 3.2rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

/**************** ASIDE ****************/

aside form {
  clear: both;
  float: left;
  padding-left: 1rem;
  font-weight: bold;
  max-width: 12rem;
}

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

input[type="button"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
  width: 5rem;
}

.filter {
  width: 130;
}

input[type="email"] {
  padding: .25rem;
  width: 60%;
}

form {
  margin-top: 2.5rem;
}

form label {
  font-size: 1.3rem;
}

form label select {
  margin-top: 0.5rem;
  width: 100%;
  border-color: #4B7FC9;
  color: #4B7FC9;
}

form input {
  margin-top: 0.5rem;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

/* eg Scarves */
h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
  font-weight: bold;
}

/* a particular product */
h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
  padding-bottom: 1rem;
  font-weight: bold;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-container div {
  max-width: 18rem;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-spacing: 1rem;
  margin-top: 2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding: 1rem;
}

.item-container div img {
  padding-bottom: 1rem;
}



@media screen and (max-width: 800px)
              and (orientation: portrait) {
  
  body {
/*    padding: 0; */
  }
  
  .container {
/*    width: 95%;*/
  }
  
  header {
    
  }

  /* logo-scarfcat smaller */
  header img {
    max-height: 6.4rem;
    margin-bottom: 0.5rem;
  }

  /* h1 smaller, centered */
  h1 {
    font-size: 2.0rem;
    text-align: center;
    padding-right: 6rem;
    padding-top: 1.5rem;
  }
  
  h1 .logo-w {
    font-size: 3.0rem;
  }

/* narrow nav */
nav {
  display: block;
/*  color: white;*/
/*  background-color: #4B7FC9;*/
/*  margin-bottom: 1rem;*/
  height: 10rem;
/*  padding-top: 1rem;*/
/*  border-bottom: 2rem;*/
/*  margin: auto;*/
}

div.nav {
  clear: both;
/*  float: left;*/
/*  width: 90%;*/
}

div.nav ul {
  display: block;
/*  justify-content: space-around;*/
}
  
div.nav ul li {
  padding: 1rem;
/*  justify-content: center;*/
  text-align: center;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: white;
  padding-top: 0.6rem;
  padding-bottom: 2rem;
}

nav a {
/*  color: white;*/
/*  font-size: 1.2rem;*/
/*  font-family: 'Didact%22Gothic', sans-serif;*/
/*  font-weight: bold;*/
/*  text-decoration: none;*/
/*  float: left;*/
  clear: both;
}

nav a:hover {
  text-decoration: underline;
}

.cart-info {
/*  font-size: 1.3rem;*/
/*  padding-bottom: 1rem;*/
}

div.cart {
  clear: both;
/*  float: right;*/
/*  display: flex;*/
  justify-content: center;
  align-content: center;
/*  padding-right: 1.7rem;*/
}

/* end of narrow nav */

  
  main {
    width: 95%;
  }
  
  aside {
    display: block;
  }

  aside form {
    max-width: 100%;
  }

  main > section {
    clear: both;
    display: block;
  }
  
}
